.search-dialog {    
    display: block;        
    width: 60%;
    height: 10rem;
    background-color: #fff;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    margin-top: 15rem;
}

.search-title {
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.search-options {
    text-align: center;    
    font-size: 1.5rem;
}

.search-options input {
    margin-right: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

h1 {        
    text-align: center;
} 